body {
    background-color: #fff;
    font-family: 'Poppins', sans-serif;
}

.header-login {
    right: 10%;
}

.header-login .nav-link {
    color: #0d6efd;
    font-weight: 500;
}

.card {
    border-radius: 20px;
}

img {
    max-width: 280px;
}

.btn-primary {
    background-color: #0d6efd;
    border: none;
}

.btn-primary:hover {
    background-color: #0056d2;
}

#formLogin,
#formRegistro {
    transition: opacity 0.3s ease;
}

#formRegistro {
    position: relative;
    left: -150px;
    
    width: 850px;
}